<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Intro</title>
</head>
<body>
<header th:fragment="header">
    <nav>
        <ul>
            <li><a th:href="@{'/'}">Home</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{'/register'}">Register</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{'/login'}">Login</a></li>
            <li sec:authorize="isFullyAuthenticated()"><a th:href="@{'/users'}">List Users</a></li>
            <li sec:authorize="isFullyAuthenticated()"><a th:href="@{'/profile'}">My Profile</a></li>
            <li sec:authorize="isFullyAuthenticated()"><a th:href="@{'/logout'}">Logout</a></li>
        </ul>
    </nav>
</header>
</body>
</html>