<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="POST" th:action="@{/login}">
    <p>
        <label>Username:
            <input type="text" name="username">
        </label>
    </p>
    <p>
        <label>Password:
            <input type="password" name="password">
        </label>
    </p>
    <p>
        <label>Remember Me:
            <input type="checkbox" name="remember-me">
        </label>
    </p>
    <button type="submit">Login</button>
</form>
<p th:if="${param.logout}">Logged Out!</p>
<p th:if="${param.error}">Wrong Credentials</p>
</body>
</html>